/* INITIALIZATION */

* {
    background-color: #240b36;
    color: white;
    font-family: 'Lora', Geneva, Verdana, sans-serif;
}
body {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

/* HEADER */

div.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div.header > p {
    font-size: 1.8rem;
}
div.header > ul > li > a {
    text-decoration: none;
}
ul.header {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
}
ul.header > li {
    padding-left: 20px;
    padding-right: 20px;
}

/* INTRODUCTION */

.introduction {
    padding-top: 8rem;
}
p.intro {
    font-size: 3.5rem;
}

/* TEXT WITHIN SPANS */

span.gradient {
    background: -webkit-linear-gradient(#0176e4, #b0b4ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
span.underline {
    text-decoration: underline wavy #FF0099 2px;
}
span.italic {
    font-style: italic;
}

/* INTRODUCTION - WHAT YOU'LL FIND ME DOING USUALLY */

p.what-i-do {
    font-size: 2rem;
    padding-bottom: 8rem;
}

/* ACES UP MY SLEEVE */

h2 {
    font-size: 4rem;
}
.skills {
    padding-bottom: 4rem;
}
div.skills > p {
    font-size: 1.6rem;
}

/* CONTACT FORM */

div.contact {
    padding-bottom: 4rem;
}
form > p {
    font-size: 2rem;
    line-height: 4rem;
}
input {
    border: none;
    border-bottom: 2px solid white;
    width: 30rem;
    font-size: 2rem;
}
input:focus {
    outline: none;
    border-bottom: 4px solid white;
}

/* CONTACT FORM - REMOVE ARROWS OF NUMBER INPUT FIELD (PHONE NUMBER) */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}

/* CONTACT FORM - SUBMIT BUTTON */

input[type=submit] {
    border: 2px solid white;
    padding: 1.2rem;
    font-size: 1.2rem;
    width: 15rem;
}
input[type=submit]:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

/* SOCIALS */

.socials {
    font-size: 1.6rem;
}
a:hover {
    background: -webkit-linear-gradient(#4e54c8, #8f94fb);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: underline;
}

/* TEXT STYLING WHEN SELECTED */

*::selection {
    background-color: #8f94fb;
    color: white;
}
span.gradient::selection {
    background: #8f94fb;
    -webkit-text-fill-color: white;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 640px) {
    body {
      padding: 1rem;
      width: 100%;
    }
    div.header > p {
        font-size: 1.2rem;
    }
    p.intro {
        font-size: 2.5rem;
    }
    input {
        width: 20rem;
    }
  }